# Project 2

### Initial compressor and turbine design:

In [1]:
import pandas as pd 
from Project2BackendCalcs import TurboMachineryComputation
import IPython.display as disp
import numpy as np
from IPython.display import Markdown as md

##### Compressor initial design #####
backend = TurboMachineryComputation()
N,rt,rm,rr,M1t,rt3,rr3, P_02, T_02, P_03, T_03 = backend.update()

print('Rotational speed: '+str(np.round(N,2))+' (rev/s)')
print('Tip radius (inlet): '+str(np.round(rt,5))+' (m)')
print('Mean radius (constant): '+str(np.round(rm,5))+' (m)')
print('Root radius (inlet): '+str(np.round(rr,5))+' (m)')
print('Tip radius (outlet): '+str(np.round(rt3,5))+' (m)')
print('Root radius (outlet): '+str(np.round(rr3,5))+' (m)')
# print('Compressor Outlet Pressure: ' +str(np.round(P_02,5)))
# print('Compressor Outlet Temp: ' +str(np.round(T_02,5)))
# print('TIP: ' +str(np.round(P_03,5)))
# print('TIT: ' +str(np.round(T_03,5)))
print('Mach number at tip (inlet): '+str(np.round(M1t,3)))

meantable,sizingtable,tiproot_table,whirl_table,vel_table,dif_table = backend.fullcompressor()

# disp.display(table)
print('\nMean radius values for the compressor are: ')
disp.display(meantable)

print('\nSizing throughout the compressor: ')
disp.display(sizingtable)

print('\nTip and root angles: ')
disp.display(tiproot_table)

print('\nWhirl velocities: ')
disp.display(whirl_table)

print('\nAbsolute and relative velocities: ')
disp.display(vel_table)

print('\nDiffusion (de Haller criteria): ')
disp.display(dif_table)

##### Turbine initial design #####
gasParamsDF, measurementsDF, rootDF, tipDF, rtMeasurements, stage_est, Um = backend.fullturbine()
print('\nMean Blade Speed: {} m/s '.format(Um))
print('Tip radius (inlet): '+str(rtMeasurements[1])+' (m)')
print('Mean radius (constant): '+str(rtMeasurements[2])+' (m)')
print('Root radius (inlet): '+str(rtMeasurements[0])+' (m)')
print('Tip radius (outlet): '+str(rtMeasurements[4])+' (m)')
print('Root radius (outlet): '+str(rtMeasurements[3])+' (m)')

# print('\nEstimated No. of Stages: ', stage_est )
print('\nGas Parameters for the Turbine: ')
disp.display(gasParamsDF)

print('\nSizing through the turbine: ')
disp.display(measurementsDF)

print('\nRoot Parameters for the Turbine: ')
disp.display(rootDF)

print('\nTip Parameters for the turbine: ')
disp.display(tipDF)

Rotational speed: 227.08 (rev/s)
Tip radius (inlet): 0.26633 (m)
Mean radius (constant): 0.19975 (m)
Root radius (inlet): 0.13316 (m)
Tip radius (outlet): 0.20951 (m)
Root radius (outlet): 0.18998 (m)
Mach number at tip (inlet): 1.196

Mean radius values for the compressor are:

,alpha1,alpha2,beta1,beta2,alpha3,V2/V1,C3/C2,T02,P03/P01,P03,M1t,M2t,Cw1,Cw2,Reaction,Loading
1,0.000,31.668,58.449,45.334,14.615,0.744,0.880,349.890,1.328,1.884,1.196,0.909,0.000,107.948,0.811,0.971
2,14.615,41.323,53.830,36.845,26.478,0.737,0.839,378.890,1.286,2.423,1.013,0.757,45.632,153.868,0.650,0.945
3,26.478,48.505,48.505,26.478,25.032,0.740,0.731,407.890,1.263,3.059,0.868,0.651,87.166,197.834,0.500,0.924
4,25.032,49.275,49.275,25.032,25.031,0.720,0.720,439.180,1.263,3.865,0.818,0.594,81.723,203.277,0.500,0.908
5,25.031,49.275,49.275,25.031,25.033,0.720,0.720,470.030,1.239,4.790,0.766,0.555,81.720,203.280,0.500,0.895
6,25.033,49.275,49.275,25.033,25.031,0.720,0.720,500.530,1.220,5.842,0.723,0.522,81.725,203.275,0.500,0.885
7,25.031,49.275,49.275,25.031,25.029,0.720,0.720,530.760,1.204,7.031,0.688,0.496,81.720,203.280,0.500,0.877
8,25.029,49.277,49.277,25.029,25.030,0.720,0.720,560.780,1.190,8.366,0.658,0.473,81.711,203.289,0.500,0.871
9,25.030,49.276,49.276,25.030,25.028,0.720,0.720,590.630,1.178,9.854,0.632,0.454,81.714,203.286,0.500,0.866
10,25.028,49.277,49.277,25.028,25.032,0.720,0.720,620.350,1.168,11.507,0.609,0.437,81.710,203.290,0.500,0.862
11,25.032,49.275,49.275,25.032,25.031,0.720,0.720,649.960,1.159,13.332,0.589,0.422,81.722,203.278,0.500,0.859
12,25.031,49.276,49.276,25.031,25.029,0.720,0.720,679.490,1.151,15.339,0.571,0.409,81.719,203.281,0.500,0.857
13,25.029,49.277,49.277,25.029,25.028,0.720,0.720,708.960,1.143,17.539,0.554,0.397,81.710,203.290,0.500,0.855
14,25.028,49.277,49.277,25.028,32.320,0.720,0.772,738.380,1.137,19.941,0.539,0.386,81.710,203.290,0.500,0.853
15,32.320,44.883,44.883,32.320,0.000,0.838,0.709,753.741,1.067,21.278,0.487,0.408,110.715,174.285,0.500,0.852

Sizing throughout the compressor:

      r_t 1    r_t 2    r_t 3       h1       h2       h3
1   0.50000  0.55791  0.57016  0.13316  0.11336  0.10936
2   0.57016  0.62157  0.62246  0.10936  0.09323  0.09296
3   0.62246  0.64221  0.67227  0.09296  0.08704  0.07829
4   0.67227  0.68934  0.71580  0.07829  0.07347  0.06617
5   0.71580  0.72932  0.75130  0.06617  0.06253  0.05673
6   0.75130  0.76220  0.78062  0.05673  0.05391  0.04922
7   0.78062  0.78954  0.80512  0.04922  0.04698  0.04313
8   0.80512  0.81253  0.82581  0.04313  0.04132  0.03811
9   0.82581  0.83203  0.84343  0.03811  0.03663  0.03393
10  0.84343  0.84870  0.85856  0.03393  0.03269  0.03040
11  0.85856  0.86308  0.87164  0.03040  0.02936  0.02740
12  0.87164  0.87555  0.88304  0.02740  0.02651  0.02481
13  0.88304  0.88643  0.89302  0.02481  0.02405  0.02258
14  0.89302  0.89599  0.90090  0.02258  0.02192  0.02083
15  0.90090  0.90229  0.90699  0.02083  0.02052  0.01949

Tip and root angles:

,alpha1_t,alpha1_m,alpha1_r,beta1_t,beta1_m,beta1_r,alpha2_t,alpha2_m,alpha2_r,beta2_t,beta2_m,beta2_r,alpha3_t,alpha3_m,alpha3_r
1,0.00,0.00,0.00,65.27,58.45,47.35,25.66,31.67,40.74,58.16,45.33,16.97,11.57,14.62,19.75
2,11.57,14.62,19.75,61.86,53.83,39.48,35.48,41.32,48.91,52.34,36.84,5.80,22.00,26.48,32.99
3,22.00,26.48,32.99,58.05,48.50,30.98,42.87,48.50,55.32,46.54,26.48,-9.74,21.33,25.03,30.15
4,21.33,25.03,30.15,57.29,49.28,36.08,44.45,49.28,54.91,43.44,25.03,-5.39,21.83,25.03,29.23
5,21.83,25.03,29.23,56.27,49.28,38.63,45.13,49.28,54.02,41.32,25.03,-0.20,22.24,25.03,28.56
6,22.24,25.03,28.56,55.42,49.28,40.46,45.66,49.28,53.32,39.52,25.03,3.78,22.58,25.03,28.04
7,22.58,25.03,28.04,54.72,49.28,41.84,46.11,49.28,52.78,37.98,25.03,6.88,22.85,25.03,27.63
8,22.85,25.03,27.63,54.13,49.28,42.90,46.47,49.28,52.34,36.66,25.03,9.34,23.09,25.03,27.30
9,23.09,25.03,27.30,53.63,49.28,43.74,46.78,49.28,51.98,35.52,25.03,11.33,23.29,25.03,27.03
10,23.29,25.03,27.03,53.20,49.28,44.42,47.04,49.28,51.68,34.53,25.03,12.96,23.46,25.03,26.81
11,23.46,25.03,26.81,52.82,49.28,44.98,47.26,49.28,51.42,33.67,25.03,14.31,23.61,25.03,26.63
12,23.61,25.03,26.63,52.50,49.28,45.44,47.45,49.28,51.21,32.92,25.03,15.45,23.73,25.03,26.47
13,23.73,25.03,26.47,52.22,49.28,45.84,47.61,49.28,51.03,32.25,25.03,16.41,23.84,25.03,26.33
14,23.84,25.03,26.33,51.97,49.28,46.17,47.76,49.28,50.87,31.66,25.03,17.23,31.02,32.32,33.72
15,31.02,32.32,33.72,48.04,44.88,41.22,43.45,44.88,46.39,37.41,32.32,26.34,0.00,0.00,0.00

Whirl velocities:

     Cw1_t   Cw1_m   Cw1_r   Cw2_t   Cw2_m   Cw2_r   Cw3_t   Cw3_m   Cw3_r
1     0.00    0.00    0.00   84.09  107.95  150.71   35.83   45.65   62.83
2    35.82   45.63   62.83  124.75  153.87  200.71   70.70   87.18  113.60
3    70.71   87.17  113.60  162.44  197.83  252.94   68.34   81.72  101.65
4    68.33   81.72  101.64  171.70  203.28  249.09   70.10   81.72   97.92
5    70.11   81.72   97.94  175.77  203.28  241.00   71.56   81.72   95.25
6    71.56   81.72   95.25  179.11  203.28  234.99   72.77   81.72   93.21
7    72.76   81.72   93.20  181.89  203.28  230.37   73.74   81.72   91.60
8    73.75   81.71   91.60  184.23  203.29  226.74   74.61   81.72   90.32
9    74.60   81.71   90.33  186.21  203.29  223.81   75.33   81.72   89.28
10   75.31   81.71   89.29  187.91  203.29  221.41   75.95   81.72   88.44
11   75.94   81.72   88.45  189.36  203.28  219.40   76.49   81.72   87.75
12   76.47   81.72   87.74  190.63  203.28  217.73   76.93   81.72   87.14
13   76.93   81.71   87.12  191.75  203.29  216.31   77.33   81.72   86.60
14   77.34   81.71   86.61  192.72  203.29  215.09  105.23  110.72  116.80
15  105.23  110.72  116.81  165.77  174.28  183.72    0.00    0.00    0.00

Absolute and relative velocities:

,C1_t,C1_m,C1_r,C2_t,C2_m,C2_r,C3_t,C3_m,C3_r,V1_t,V1_m,V1_r,V2_t,V2_m,V2_r
1,175.000,175.000,175.000,194.154,205.615,230.955,178.630,180.856,185.938,418.357,334.443,258.314,331.704,248.943,182.970
2,178.629,180.852,185.938,214.915,233.023,266.286,188.744,195.511,208.640,371.053,296.518,226.725,286.433,218.679,175.901
3,188.746,195.508,208.638,238.773,264.129,307.581,187.869,193.138,202.379,330.704,264.129,204.125,254.405,195.508,177.560
4,187.868,193.141,202.376,245.165,268.228,304.416,188.518,193.138,200.535,323.871,268.228,216.524,241.011,193.141,175.776
5,188.521,193.140,200.544,248.031,268.228,297.838,189.065,193.138,199.245,315.152,268.228,224.016,233.007,193.140,175.001
6,189.067,193.143,199.243,250.407,268.228,292.990,189.528,193.138,198.273,308.374,268.228,230.019,226.855,193.143,175.381
7,189.522,193.140,198.272,252.406,268.228,289.303,189.903,193.138,197.526,303.003,268.228,234.893,222.017,193.140,176.269
8,189.905,193.137,197.524,254.100,268.239,286.420,190.240,193.138,196.935,298.662,268.239,238.901,218.148,193.137,177.351
9,190.236,193.138,196.938,255.538,268.234,284.103,190.525,193.138,196.460,295.083,268.234,242.229,215.012,193.138,178.478
10,190.518,193.135,196.465,256.781,268.239,282.217,190.769,193.138,196.077,292.114,268.239,245.025,212.422,193.135,179.574
11,190.768,193.141,196.084,257.842,268.228,280.647,190.987,193.138,195.767,289.600,268.228,247.388,210.278,193.141,180.607
12,190.980,193.140,195.762,258.776,268.234,279.340,191.162,193.138,195.494,287.476,268.234,249.415,208.465,193.140,181.559
13,191.164,193.137,195.487,259.599,268.239,278.237,191.324,193.138,195.257,285.650,268.239,251.177,206.919,193.137,182.429
14,191.328,193.135,195.257,260.316,268.239,277.290,204.204,207.082,210.397,284.074,268.239,252.692,205.602,193.135,183.222
15,204.201,207.082,210.401,241.049,246.984,253.730,175.000,175.000,175.000,261.738,246.984,232.672,220.331,207.082,195.272

Diffusion (de Haller criteria):

    V2/V1_t  V2/V1_m  V2/V1_r  C3/C2_t  C3/C2_m  C3/C2_r
1     0.793    0.744    0.708    0.920    0.880    0.805
2     0.772    0.737    0.776    0.878    0.839    0.784
3     0.769    0.740    0.870    0.787    0.731    0.658
4     0.744    0.720    0.812    0.769    0.720    0.659
5     0.739    0.720    0.781    0.762    0.720    0.669
6     0.736    0.720    0.762    0.757    0.720    0.677
7     0.733    0.720    0.750    0.752    0.720    0.683
8     0.730    0.720    0.742    0.749    0.720    0.688
9     0.729    0.720    0.737    0.746    0.720    0.692
10    0.727    0.720    0.733    0.743    0.720    0.695
11    0.726    0.720    0.730    0.741    0.720    0.698
12    0.725    0.720    0.728    0.739    0.720    0.700
13    0.724    0.720    0.726    0.737    0.720    0.702
14    0.724    0.720    0.725    0.784    0.772    0.759
15    0.842    0.838    0.839    0.726    0.709    0.690

Mean Blade Speed: 340 m/s
Tip radius (inlet): 0.254 (m)
Mean radius (constant): 0.238 (m)
Root radius (inlet): 0.223 (m)
Tip radius (outlet): 0.267 (m)
Root radius (outlet): 0.21 (m)

Gas Parameters for the Turbine:

,α1,α2,α3,β2,β3,ΔT0s,P02/P01,Cw3,M3t,Φ,ψ,Λ
1,0.00,56.433,25.66,12.679,60.430,156.100,0.733,127.404,0.798,0.78,3.100,0.600
2,25.66,59.046,21.02,21.069,59.031,161.138,0.708,101.907,0.830,0.78,3.200,0.500
3,21.02,40.951,0.00,-22.502,52.046,68.160,0.857,0.000,0.833,0.78,1.354,0.662

Sizing through the turbine:

   r_t 1  r_t 2  r_t 3     h1     h2     h3     rm
1  1.137   1.17  1.200  0.031  0.037  0.043  0.238
2  1.207   1.23  1.269  0.045  0.049  0.056  0.238
3  1.289   1.28  1.306  0.060  0.058  0.063  0.238

Root Parameters for the Turbine:

,Ur2,Ur3,alpha2r,alpha3r,beta2r,beta3r,Cw1r,V2r,C2r,Cw2r,V3r,C3r,Cw3r,phiRoot,psiRoot,lambdaRoot
1,313.402,309.140,58.548,27.850,24.379,59.447,0.000,291.160,508.256,433.582,299.942,299.942,140.122,0.858,3.684,0.532
2,304.982,299.705,61.720,23.554,35.327,57.440,135.738,325.053,559.751,492.940,289.303,289.303,115.608,0.885,4.026,0.379
3,298.280,294.855,44.688,0.000,-7.720,48.031,108.848,267.626,373.025,262.330,265.200,265.200,0.000,0.899,1.756,0.561

Tip Parameters for the turbine:

,Ut2,Ut3,alpha2t,alpha3t,beta2t,beta3t,Cw1t,V2t,C2t,Cw2t,V3t,C3t,Cw3t,phiTip,psiTip,lambdaTip
1,366.598,370.860,54.417,23.77,0.879,61.462,0.000,265.231,455.767,370.666,289.783,289.783,116.803,0.723,2.683,0.660
2,375.018,380.295,56.514,18.96,5.570,60.639,112.492,266.458,480.662,400.880,280.414,280.414,91.109,0.707,2.652,0.594
3,381.720,385.145,37.702,0.00,-33.680,55.450,84.476,318.694,335.188,204.987,265.200,265.200,0.000,0.695,1.092,0.736

### Optimized Compressor and Turbine

In [2]:
from Project2BackendCalcsV2 import TurboMachineryComputationV2

backend2 = TurboMachineryComputationV2()
N,rt,rm,rr,M1t,rt3,rr3, P_02, T_02, P_03, T_03 = backend2.update()

print('Rotational speed: '+str(np.round(N,2))+' (rev/s)')
print('Tip radius (inlet): '+str(np.round(rt,5))+' (m)')
print('Mean radius (constant): '+str(np.round(rm,5))+' (m)')
print('Root radius (inlet): '+str(np.round(rr,5))+' (m)')
print('Tip radius (outlet): '+str(np.round(rt3,5))+' (m)')
print('Root radius (outlet): '+str(np.round(rr3,5))+' (m)')
# print('Compressor Outlet Pressure: ' +str(np.round(P_02,5)))
# print('Compressor Outlet Temp: ' +str(np.round(T_02,5)))
# print('TIP: ' +str(np.round(P_03,5)))
# print('TIT: ' +str(np.round(T_03,5)))
print('Mach number at tip (inlet): '+str(np.round(M1t,3)))

meantable,sizingtable,tiproot_table,whirl_table,vel_table,dif_table = backend2.fullcompressor()

# disp.display(table)
print('\nMean radius values for the compressor are: ')
disp.display(meantable)

print('\nSizing throughout the compressor: ')
disp.display(sizingtable)

print('\nTip and root angles: ')
disp.display(tiproot_table)

print('\nWhirl velocities: ')
disp.display(whirl_table)

print('\nAbsolute and relative velocities: ')
disp.display(vel_table)

print('\nDiffusion (de Haller criteria): ')
disp.display(dif_table)

gasParamDF, measurementsDF, rootDF, tipDF, rtMeasurements, Um, desiredTurbine  = backend2.fullturbine()
print('[psi1, phi1, lambda1]: {}'.format([desiredTurbine[0],desiredTurbine[1],desiredTurbine[2]]))
print('[psi2, phi2, lambda2]: {}'.format([desiredTurbine[3],desiredTurbine[4],desiredTurbine[5]]))
print('Minimum Outlet Swirl: {}'.format(desiredTurbine[6]))


print('\nMean Blade Speed: {} m/s'.format(Um))
print('\nTip radius (inlet): '+str(rtMeasurements[1])+' (m)')
print('\nMean radius (constant): '+str(rtMeasurements[2])+' (m)')
print('\nRoot radius (inlet): '+str(rtMeasurements[0])+' (m)')
print('\nTip radius (outlet): '+str(rtMeasurements[4])+' (m)')
print('\nRoot radius (outlet): '+str(rtMeasurements[3])+' (m)')
print('\nGas Parameters for the Turbine: ')
disp.display(gasParamDF)

print('\nSizing through the turbine: ')
disp.display(measurementsDF)

print('\nRoot Parameters for the Turbine: ')
disp.display(rootDF)

print('\nTip Parameters for the turbine: ')
disp.display(tipDF)

params found: [2.75       0.85       0.4        1.61974257 0.85       0.4
 0.        ]
Rotational speed: 253.63 (rev/s)
Tip radius (inlet): 0.26356 (m)
Mean radius (constant): 0.19767 (m)
Root radius (inlet): 0.13178 (m)
Tip radius (outlet): 0.20729 (m)
Root radius (outlet): 0.18804 (m)
Mach number at tip (inlet): 1.308

Mean radius values for the compressor are:

,alpha1,alpha2,beta1,beta2,alpha3,V2/V1,C3/C2,T02,P03/P01,P03,M1t,M2t,Cw1,Cw2,Reaction,Loading
1,17.475,40.610,55.132,41.751,9.950,0.766,0.771,349.890,1.328,1.884,1.199,0.941,56.668,154.336,0.665,0.971
2,9.950,43.367,57.581,38.849,9.375,0.688,0.737,390.890,1.420,2.676,1.139,0.789,31.576,170.024,0.680,0.945
3,9.375,44.709,57.750,37.238,10.761,0.670,0.723,433.890,1.392,3.723,1.031,0.707,29.717,178.183,0.670,0.924
4,10.761,46.464,57.338,34.898,12.881,0.658,0.707,478.056,1.359,5.060,0.936,0.628,34.209,189.441,0.645,0.908
5,12.881,47.304,56.682,33.671,13.356,0.660,0.697,521.232,1.315,6.652,0.855,0.572,41.162,195.088,0.625,0.895
6,13.356,47.533,56.530,33.322,13.356,0.660,0.694,563.922,1.283,8.532,0.799,0.533,42.737,196.663,0.620,0.885
7,13.356,47.533,56.530,33.322,13.356,0.660,0.694,606.230,1.257,10.724,0.756,0.503,42.737,196.663,0.620,0.877
8,13.356,47.533,56.530,33.322,13.356,0.660,0.694,648.238,1.236,13.253,0.719,0.477,42.737,196.663,0.620,0.871
9,13.356,47.533,56.530,33.322,13.357,0.660,0.694,690.011,1.218,16.144,0.688,0.456,42.736,196.664,0.620,0.866
10,13.357,47.533,56.530,33.322,33.094,0.660,0.806,731.598,1.203,19.423,0.662,0.438,42.738,196.662,0.620,0.862
11,33.094,47.681,47.681,33.094,0.000,0.804,0.673,753.064,1.096,21.278,0.533,0.428,117.314,197.686,0.500,0.852

Sizing throughout the compressor:

      r_t 1    r_t 2    r_t 3       h1       h2       h3
1   0.50000  0.54185  0.57174  0.13178  0.11747  0.10772
2   0.57174  0.64607  0.65091  0.10772  0.08500  0.08360
3   0.65091  0.69029  0.71382  0.08360  0.07244  0.06601
4   0.71382  0.74284  0.76317  0.06601  0.05833  0.05310
5   0.76317  0.78391  0.80084  0.05310  0.04789  0.04372
6   0.80084  0.81663  0.83034  0.04372  0.03991  0.03664
7   0.83034  0.84276  0.85383  0.03664  0.03373  0.03117
8   0.85383  0.86377  0.87283  0.03117  0.02890  0.02684
9   0.87283  0.88090  0.88841  0.02684  0.02503  0.02336
10  0.88841  0.89506  0.89936  0.02336  0.02189  0.02095
11  0.89936  0.90136  0.90744  0.02095  0.02051  0.01918

Tip and root angles:

,alpha1_t,alpha1_m,alpha1_r,beta1_t,beta1_m,beta1_r,alpha2_t,alpha2_m,alpha2_r,beta2_t,beta2_m,beta2_r,alpha3_t,alpha3_m,alpha3_r
1,13.29,17.48,25.28,64.51,55.13,34.78,33.47,40.61,50.66,58.14,41.75,0.58,7.85,9.95,13.56
2,7.85,9.95,13.56,64.42,57.58,45.90,37.86,43.37,50.27,53.45,38.85,9.67,7.76,9.38,11.83
3,7.76,9.38,11.83,63.25,57.75,49.49,39.92,44.71,50.47,50.98,37.24,12.26,9.25,10.76,12.85
4,9.25,10.76,12.85,61.98,57.34,50.88,42.52,46.46,50.99,47.49,34.90,14.42,11.40,12.88,14.80
5,11.40,12.88,14.80,60.72,56.68,51.36,44.03,47.30,50.96,44.86,33.67,16.95,12.07,13.36,14.95
6,12.07,13.36,14.95,59.97,56.53,52.21,44.78,47.53,50.55,43.05,33.32,19.70,12.26,13.36,14.66
7,12.26,13.36,14.66,59.46,56.53,52.98,45.19,47.53,50.06,41.75,33.32,22.11,12.41,13.36,14.45
8,12.41,13.36,14.45,59.05,56.53,53.56,45.52,47.53,49.69,40.69,33.32,23.91,12.53,13.36,14.29
9,12.53,13.36,14.29,58.73,56.53,54.00,45.78,47.53,49.39,39.80,33.32,25.30,12.64,13.36,14.16
10,12.64,13.36,14.16,58.46,56.53,54.35,45.99,47.53,49.15,39.06,33.32,26.40,31.76,33.09,34.54
11,31.76,33.09,34.54,50.75,47.68,44.10,46.24,47.68,49.20,38.54,33.09,26.60,0.00,0.00,0.00

Whirl velocities:

     Cw1_t   Cw1_m   Cw1_r   Cw2_t   Cw2_m   Cw2_r   Cw3_t   Cw3_m   Cw3_r
1    42.50   56.67   85.00  118.98  154.34  219.58   24.82   31.58   43.41
2    24.81   31.58   43.40  139.94  170.02  216.59   24.53   29.73   37.70
3    24.53   29.72   37.69  150.59  178.18  218.16   29.31   34.21   41.06
4    29.31   34.21   41.07  165.08  189.44  222.23   36.29   41.16   47.56
5    36.29   41.16   47.55  174.01  195.09  221.98   38.49   42.75   48.06
6    38.48   42.74   48.05  178.63  196.66  218.75   39.11   42.75   47.09
7    39.11   42.74   47.10  181.20  196.66  215.01   39.61   42.75   46.38
8    39.61   42.74   46.39  183.27  196.66  212.17   40.00   42.75   45.85
9    40.02   42.74   45.85  184.95  196.66  209.96   40.37   42.75   45.41
10   40.35   42.74   45.42  186.34  196.66  208.19  111.43  117.30  123.90
11  111.41  117.31  123.88  187.94  197.69  208.50    0.00    0.00    0.00

Absolute and relative velocities:

,C1_t,C1_m,C1_r,C2_t,C2_m,C2_r,C3_t,C3_m,C3_r,V1_t,V1_m,V1_r,V2_t,V2_m,V2_r
1,184.950,188.709,199.061,215.770,237.105,283.931,181.703,182.749,185.161,418.218,314.857,219.144,340.996,241.272,180.009
2,181.702,182.749,185.159,227.996,247.603,281.625,181.664,182.439,183.906,416.879,335.754,258.669,302.237,231.124,182.596
3,181.664,182.437,183.903,234.685,253.275,282.830,182.371,183.221,184.624,399.884,337.322,277.120,285.905,226.094,184.203
4,182.371,183.222,184.625,244.239,261.320,285.983,183.623,184.646,186.177,383.190,333.530,285.290,266.402,219.466,185.858
5,183.621,184.647,186.174,250.358,265.444,285.787,184.069,185.007,186.306,368.042,327.699,288.251,253.958,216.285,188.176
6,184.067,185.004,186.303,253.592,266.601,283.284,184.201,185.007,186.057,359.641,326.382,293.729,246.335,215.415,191.192
7,184.200,185.004,186.061,255.410,266.601,280.407,184.306,185.007,185.880,354.225,326.382,298.964,241.279,215.415,194.284
8,184.307,185.004,185.883,256.878,266.601,278.240,184.392,185.007,185.747,350.048,326.382,303.024,237.384,215.415,196.896
9,184.395,185.004,185.747,258.085,266.601,276.554,184.471,185.007,185.640,346.747,326.382,306.248,234.301,215.415,199.103
10,184.468,185.004,185.643,259.083,266.601,275.214,211.700,214.845,218.518,344.095,326.382,308.842,231.829,215.415,200.965
11,211.689,214.855,218.508,260.230,267.357,275.452,180.000,180.000,180.000,284.472,267.357,250.650,230.142,214.855,201.315

Diffusion (de Haller criteria):

    V2/V1_t  V2/V1_m  V2/V1_r  C3/C2_t  C3/C2_m  C3/C2_r
1     0.815    0.766    0.821    0.842    0.771    0.652
2     0.725    0.688    0.706    0.797    0.737    0.653
3     0.715    0.670    0.665    0.777    0.723    0.653
4     0.695    0.658    0.651    0.752    0.707    0.651
5     0.690    0.660    0.653    0.735    0.697    0.652
6     0.685    0.660    0.651    0.726    0.694    0.657
7     0.681    0.660    0.650    0.722    0.694    0.663
8     0.678    0.660    0.650    0.718    0.694    0.668
9     0.676    0.660    0.650    0.715    0.694    0.671
10    0.674    0.660    0.651    0.817    0.806    0.794
11    0.809    0.804    0.803    0.692    0.673    0.653

params found: [2.75       0.85       0.4        1.61974257 0.85       0.4
 0.        ]
[psi1, phi1, lambda1]: [2.75, 0.85, 0.4]
[psi2, phi2, lambda2]: [1.6197425742194145, 0.85, 0.4]
Minimum Outlet Swirl: 0.0

Mean Blade Speed: 450 m/s

Tip radius (inlet): 0.2926 (m)

Mean radius (constant): 0.2824 (m)

Root radius (inlet): 0.2721 (m)

Tip radius (outlet): 0.3019 (m)

Root radius (outlet): 0.2628 (m)

Gas Parameters for the Turbine:

,α1,α2,α3,β2,β3,ΔT0s,P02/P01,Cw3,M3t,Φ,ψ,Λ,MV2r
1,0.00,56.5758,5.85,18.7122,51.9780,242.5414,0.6108,39.1902,1.0832,0.85,2.7500,0.3996,0.4762
2,5.85,43.6151,0.00,-12.6084,49.6355,142.8562,0.7275,0.0000,1.1302,0.85,1.6197,0.5951,0.4502

Sizing through the turbine:

    r_t 1   r_t 2   r_t 3      h1      h2      h3      rm
1  1.0752  1.0956  1.1138  0.0205  0.0258  0.0304  0.2824
2  1.1144  1.1268  1.1488  0.0305  0.0337  0.0391  0.2824

Root Parameters for the Turbine:

,Ur2,Ur3,alpha2r,alpha3r,beta2r,beta3r,Cw1r,V2r,C2r,Cw2r,V3r,C3r,Cw3r,phiRoot,psiRoot,lambdaRoot
1,429.4645,425.7635,57.7946,6.1805,24.9317,50.6916,0.0000,421.8079,717.6949,607.2723,384.7362,384.7362,41.4211,0.8984,3.0298,0.3398
2,423.1799,418.8300,45.3750,0.0000,-5.3233,47.5958,41.2153,384.1568,544.5118,387.5395,382.5000,382.5000,0.0000,0.9133,1.8298,0.5425

Tip Parameters for the turbine:

,Ut2,Ut3,alpha2t,alpha3t,beta2t,beta3t,Cw1t,V2t,C2t,Cw2t,V3t,C3t,Cw3t,phiTip,psiTip,lambdaTip
1,470.5355,474.2365,55.3904,5.5529,12.3475,53.2067,0.0000,391.5572,673.4369,554.2662,384.3035,384.3035,37.1873,0.8129,2.5297,0.4545
2,476.8201,481.1700,41.9618,0.0000,-19.1568,51.5175,36.9857,404.9229,514.3958,343.9430,382.5000,382.5000,0.0000,0.8022,1.4609,0.6439